---
layout: base
permalink: /index.html
title: 'Blog'
description: 'Ramblings'
blog:
  title: 'Sections'
---

<div class="wrapper">

  <article class="full | region">
    <div class="wrapper flow prose">
      <h2>Hippo adventures</h2>
    </div>
  </article>

  <section class="full | region">
    <div class="wrapper flow prose">

      <div class="feature |  region region-space-l">
        <custom-masonry layout="50-50">
          <!-- loop posts -->
          {% set itemList = collections.allPosts %}
					{% asyncEach item in itemList.slice(0, 12) %}
						{% set definedDate = item.date %}
						{% include "partials/card-blog.njk" %}
					{% endeach %}
        </custom-masonry>
      </div>
    </div>
  </section>
</div>
